/* +++++++++++++++++++++++++++++++++++++++++++ */
/* site-specific styles */
/* +++++++++++++++++++++++++++++++++++++++++++ */
/*  */
/* Careful in template sync, this should be site specific */
/*  */


/* overwrite shared */
.code-text{
  font-family: 'Roboto Mono', Courier, monospace;
}
body{
  /* overflow-y: scroll; */
  background: linear-gradient(135deg, transparent,var(--accent-green-light-trans));
}
/* moved to shared */
/* .page-container{
  overflow-x:hidden;
} */
/* shared? */
.padded-section{
  /* padding:30px; */
  padding:3rem 30px;
}
.full-section{
  min-height:100vh;
}
.large-section{
  min-height:60vh;
}

/* main nav */
header .canapi-logo{
  width: 125px;
  height: 40px;
  background-position: top left;
  margin:0;
}

.nav-container{
  
}
.nav-item-container{
  color:inherit;
  font-weight:normal;
  opacity:1;
  margin-right:20px;
  padding:8px 10px;
  border-radius:4px;
  font-size:18px;
  /* transition:background-color .25s; */
}
.nav-item-container:last-child{
  margin-right:0px;
}
.nav-item-container:hover{
  background-color:var(--accent-green-light-trans);
  color:inherit;
}
.nav-item-container:active{
  color:inherit;
  opacity: 1;
  transform: scale(.97);
  background-color:var(--accent-green-trans);
}
.canapi-logo{
  background-image: url('/img/canapi-logo.png');
  max-width: 100%;
  width:350px;
  height: 150px;
  margin-bottom: 20px;
  background-position: center;
}


/* hero */
main{
  /* background-color:var(--accent-green); */
  /* padding:10px; */
}
main h6{
  margin-bottom:20px;
}
main p{
  font-size:18px;
}
.anim-hero-text{
  color:var(--accent-green);
  position:relative;
  overflow-x:visible;
  white-space: nowrap;
  display:inline-block;
}
.anim-hero-text::after{
  display: block;
  /* content: ""; */
  transition:var(--ux-speed);
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent);
}



/* hero assets */
.canapi-brackets{
  user-select: none;
  pointer-events: none;
  background-image: url("/android-chrome-512x512.png");
  width:500px;
  height:800px;
  opacity:20%;
  position:absolute;
  top:100px;
  left:-200px;
}
.canapi-code{
  font-size:18px;
  pointer-events: none;
  user-select: none;
  transform:rotate(90deg);
  transform-origin: top left;
  color:var(--accent);
  opacity:20%;
  position:absolute;
  width:400px;
  top:-10px;
  right:-410px;
}

/* examples section */
#about .section-col img{
  max-width:100%;
  width:300px;
  height:200px;
  object-fit:cover;
  /* height:auto; */
}

/* process section */
#process .col-container{}
@media only screen and (max-width: 800px){
  #process .col-container{
    flex-wrap:wrap;
  }
}

/* newsletter section */
#newsletter .col-container{}
@media only screen and (max-width: 800px){
  #newsletter .col-container{
    flex-wrap:wrap;
  }
}

/* footer */


/* +++++++++++++++++++++++++++++++++++++++++++ */


/* responsive styles */
@media only screen and (max-width: 800px){
  .section-col{
    margin-bottom:2rem;
  }
}
@media only screen and (max-width: 600px){
  .padded-section{
    padding:2rem 30px;
  }
  header .canapi-logo{
    display:none;
  }
  .canapi-logo{
    max-width: 350px;
    width:100%;
    height: 150px;
    /* margin-bottom: 20px; */
  }
  footer .max-width{
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  footer .button-container{
    margin-top:10px;
  }
}