---
subtitle: Make It Green, Automatically
layout: layouts/base.njk
keywords: canapi, terrabyte, automatic, api, software, b2b, green, tech, technology, omaha, nebraska, startup, midwest, business, project, environmental, environmental contributions, tree planting, coral planting, ocean plastic, removal, habitat, restoration, climate, climate change
---

<main class="padded-section" data-au="flex-height flex-container">
  <div class="max-width" data-au="flex-container all-center">
    <div data-au="set-width text-center">
      <div class="canapi-logo"></div>
      <p>make it green, automatically</p>
    </div>
  </div>
</main>