---
subtitle: Make It Green, Automatically
layout: layouts/base.njk
keywords: canapi, terrabyte, automatic, api, software, b2b, green, tech, technology, omaha, nebraska, startup, midwest, business, project, environmental, environmental contributions, tree planting, coral planting, ocean plastic, removal, habitat, restoration, climate, climate change
---

<section id="intro" class="padded-section">
  <div class="max-width" data-au="flex-container all-center">
    <div data-au="set-width text-center">
      <div class="canapi-logo"></div>
      <p>make it green, automatically</p>
    </div>
  </div>
</section>

<section id="about" class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>Canapi is a B2B software company that helps other companies automatically contribute to environmental causes.</h2>
    </div>
    <p>We provide APIs and software solutions that make it easy for businesses to integrate environmental contributions into their operations, helping them make a positive impact on the planet while enhancing their brand reputation.</p>
  </div>
</section>
<section id="newsletter" class="padded-section">
  <div class="max-width">
      <h2>Join Our Newsletter</h2>
      <p>Stay updated with the latest news, updates, and insights from Canapi. Subscribe to our newsletter and be part of our journey towards a greener future.</p>
      {# newsletter sign up here #}
  </div>
</section>