---
subtitle: Make It Green, Automatically
layout: layouts/base.njk
keywords: canapi, terrabyte, automatic, api, software, b2b, green, tech, technology, omaha, nebraska, startup, midwest, business, project, environmental, environmental contributions, tree planting, coral planting, ocean plastic, removal, habitat, restoration, climate, climate change, litter, sustainability, automation, saas, software as a service
---

<section id="intro" class="padded-section large-section" data-au="flex-container all-center">
  <div class="max-width" data-au="flex-container all-center text-center">
    <div data-au="flex-container flex-vertical flex-width all-center">
      <div class="canapi-logo"></div>
      <p>Automate environmental contributions with every <span class="anim-hero-text" data-anim-hero-text>[enter digital action here]</span></p>
    </div>
  </div>
</section>

<section id="about" class="padded-section">
  <div class="max-width">
    <div class="section-header">
      {# <h2>Plant a tree, pickup litter, fund animal research for every product sold, every newsletter sign-up - anything you can imagine.</h2> #}
      <h2>Turn business operations into environmental impact</h2>
    </div>
    
    <div class="section-content">
      <div class="subsection col-container" data-au="flex-container all-center">
        <div class="section-col" data-au="flex-width flex-container all-center">
          <img src="/img/res/tree-planting.jpg" alt="Tree sitting on the grass ready to be planted." />
        </div>
        <div class="section-col" data-au="flex-width flex-container all-center">
          <h3>Plant a tree for every product sold</h3>
        </div>
      </div>
      <div class="subsection col-container" data-au="flex-container all-center">
        <div class="section-col" data-au="flex-container flex-width all-center">
          <h3>Remove ocean plastic for every newsletter sign-up</h3>
        </div>
        <div class="section-col" data-au="flex-width flex-container all-center">
          <img src="/img/res/ocean-plastic.jpg" alt="Plastic trash floating in the ocean." />
        </div>
      </div>
      <div class="subsection col-container" data-au="flex-container all-center">
        <div class="section-col" data-au="flex-width flex-container all-center">
          <img src="/img/res/endangered-species.jpg" alt="An endangered sea turtle swimming in the ocean." />
        </div>
        <div class="section-col" data-au="flex-width flex-container all-center">
          <h3>Support local species for every app download</h3>
        </div>
      </div>

      {# <p>Going green shouldn't be a burden, it should be something that <em>happens</em>. Enter Canapi - your back-end, low-code solution that</p>
      <p>For the small business that wants to give back to the local community, for the corporation that coverage - Canapi makes it easy. Customize action triggers, logic, we funnel your funds to the organizations that matter most to you and your customers.</p> #}
    </div>
  </div>
</section>
<section id="process" class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>The process</h2>
    </div>
    <div class="section-content col-container" data-au="flex-container">
      <div class="section-col" data-au="flex-width">
        <h3 class="section-col-header">1. Choose your actions</h3>
        <p>Decide what digital actions users will need to make to trigger funding an environmental contributions. With the low-code implementation, you can tie to anything from a new account activation to buying 55 burgers on their 55th birthday.</p>
      </div>
      <div class="section-col" data-au="flex-width">
        <h3 class="section-col-header">2. Integrate your product</h3>
        <p>Use our API or low-code integration tools to connect Canapi to your existing systems. Whether you're using a website builder like WordPress, or custom software, our flexible integration options make it easy to connect.</p>
      </div>
      <div class="section-col" data-au="flex-width">
        <h3 class="section-col-header">3. Track your impact</h3>
        <p>Monitor action triggers being made in your product and the amount you will be billed in real-time. View data on environmental contributions you're helping to create in the online dashboard, manage your active installations, and view other contributions to consider for your next project.</p>
      </div>
    </div>
  </div>
</section>

<section id="newsletter" class="padded-section">
  <div class="max-width">
    <div class="section-header">
      <h2>Subscribe to our newsletter</h2>
    </div>
    <div class="section-content col-container" data-au="flex-container">
      <div class="section-col" data-au="flex-width">
        <p>Stay updated with Canapi development, get priority access to betas, and keep tabs on other things we are doing.</p>
      </div>
      <div class="section-col" data-au="flex-width">
        {# subscribe form #}
        <p>the other col</p>
      </div>
    </div>
  </div>
</section>