<footer class="padded-section" data-au="set-width set-height">
  <div class="max-width" data-au="flex-container align-center">
    <div data-au="flex-width">
      <h6>More info coming soon</h6>
    </div>
    <div class="button-container" data-au="set-width flex-container justify-center">
      {# <a class="button primary" href="https://app.canapi.io">Access Web Portal</a> #}
      <a class="button primary" href="https://terrabyte.eco/#newsletter">Get Updates</a>
    </div>
  </div>
</footer>