<header class="padded-section" data-au="set-width set-height">
  <div class="max-width" data-au="flex-container align-center">
    <div class="banner-image-container" data-au="flex-width flex-container align-center">
      <a href="https://canapi.io" class="canapi-logo" data-au="set-width"></a>
    </div>
    <div class="nav-container" data-au="set-width flex-container align-center">
      {# <div class="hamburger-menu-icon clickable" data-nav-toggle>
        <svg viewBox="0 0 50 50">
          <use href="#hamburger-menu-icon"/>
        </svg>
      </div> #}
      <nav data-nav data-au="flex-container align-center">
        <a class="nav-item-container" href="https://canapi.io">
          <span>Home</span>
        </a>
        <a class="nav-item-container" href="https://app.canapi.io">
          <span>Login</span>
        </a>
        <a class="button primary" href="https://terrabyte.eco/#newsletter">Get Updates</a>
      </nav>
    </div>
  </div>
</header>