{# component for building the table of contents for each page (used by screen readers) #}

{# psuedo-code: #}
{# 1. take the sections of the page #}
{# 2. make list item for each section #}

<ul class="sr-toc sr-only">
  {# loop through each section in the page #}
  

  {# add a link to the top of the page #}
  <li>
    <a href="#top">Back to top</a>
  </li>
</ul>