---
subtitle: Terms of Service
layout: layouts/project-base.njk
keywords: terms of service, tos, legal, legal agreements, legal documents
pageType: docs
---

<section class="padded-section">
  <div class="page-title max-width">
    <h1>Canapi Terms of Service</h1>
  </div>
</section>

