<footer class="padded-section" data-au="set-width set-height">
  <div class="max-width col-container" data-au="flex-container align-center">
    <div class="section-col" data-au="flex-width">
      <h6 class="section-col-header">V1 closed beta</h6>
      <p>&copy; <span id="current-year-text">{{ currentYear }}</span> <a class="text-link" href="https://www.terrabyte.eco" target="_blank" aria-label="Terrabyte Website (opens in new window)">Terrabyte, LLC</a>. Terrabyte, its products, and related marks are trademarks of Terrabyte, LLC. All Rights Reserved.</p>
      <p>Website designed &amp; developed in association with <a class="text-link" href="https://www.goldenharpmedia.com" target="_blank" aria-label="Golden Harp Media Website (opens in new window)">Golden Harp Media</a>.
    </div>
    <div class="button-container" data-au="set-width flex-container justify-center">
      {# <a class="button primary" href="https://app.canapi.io">Access Web Portal</a> #}
      {# <a class="button primary" href="https://terrabyte.eco/#newsletter">Get Updates</a> #}
    </div>
  </div>
</footer>