<header class="padded-section" data-au="set-width set-height">
  <div class="max-width" data-au="flex-container align-center">
    <div class="banner-image-container" data-au="flex-width flex-container align-center">
      <a href="https://canapi.io" class="canapi-logo" data-au="set-width" aria-label="Canapi Home"></a>
    </div>
    <div class="nav-container" data-au="set-width flex-container align-center">
      {# <div class="hamburger-menu-icon clickable" data-nav-toggle>
        <svg viewBox="0 0 50 50">
          <use href="#hamburger-menu-icon"/>
        </svg>
      </div> #}
      <nav data-nav data-au="flex-container align-center">
        <a class="nav-item-container" href="https://canapi.io">
          <span>Home</span>
        </a>
        {# <a class="nav-item-container" href="https://canapi.io/pricing">
          <span>Pricing</span>
        </a> #}
        <a class="nav-item-container" href="https://canapi.io/docs">
          <span>Docs</span>
        </a>
        <div class="button-container" data-au="flex-container align-center">
          <a class="button" href="/#newsletter">Get Updates</a>
          <a class="button primary" href="https://app.canapi.io">Login</a>
        </div>
      </nav>
    </div>
  </div>
</header>
